<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tshare-test2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logIn</servlet-name>
    <servlet-class>javaFile.logIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logIn</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>javaFile.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/GroupServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>javaFile.mainServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/main-page</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>settleUp</servlet-name>
    <servlet-class>javaFile.settleUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settleUp</servlet-name>
    <url-pattern>/settleUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payToSettle</servlet-name>
    <servlet-class>javaFile.payToSettle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payToSettle</servlet-name>
    <url-pattern>/payToSettle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>javaFile.signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBill</servlet-name>
    <servlet-class>javaFile.addBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBill</servlet-name>
    <url-pattern>/addBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutBillToDB</display-name>
    <servlet-name>PutBillToDB</servlet-name>
    <servlet-class>javaFile.PutBillToDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutBillToDB</servlet-name>
    <url-pattern>/PutBillToDB</url-pattern>
  </servlet-mapping>
</web-app>