<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tshare-test2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logIn</servlet-name>
    <servlet-class>javaFile.logIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logIn</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteMember</servlet-name>
    <servlet-class>javaFile.deleteMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMember</servlet-name>
    <url-pattern>/deleteMember</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updateSummary</servlet-name>
    <servlet-class>javaFile.updateSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSummary</servlet-name>
    <url-pattern>/updateSummary</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>uploadToS3</servlet-name>
    <servlet-class>javaFile.uploadToS3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadToS3</servlet-name>
    <url-pattern>/uploadToS3</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>deleteAndUpload</servlet-name>
    <servlet-class>javaFile.deleteAndUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAndUpload</servlet-name>
    <url-pattern>/deleteAndUpload</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>updateGroupInfo</servlet-name>
    <servlet-class>javaFile.updateGroupInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateGroupInfo</servlet-name>
    <url-pattern>/updateGroupInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>javaFile.updateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addMember</servlet-name>
    <servlet-class>javaFile.addMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMember</servlet-name>
    <url-pattern>/addMember</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteGroup</servlet-name>
    <servlet-class>javaFile.deleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteGroup</servlet-name>
    <url-pattern>/deleteGroup</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteBill</servlet-name>
    <servlet-class>javaFile.deleteBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBill</servlet-name>
    <url-pattern>/deleteBill</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>javaFile.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/GroupServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>javaFile.mainServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/main-page</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>activityServlet</servlet-name>
    <servlet-class>javaFile.activityServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>activityServlet</servlet-name>
    <url-pattern>/activity</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>settleUp</servlet-name>
    <servlet-class>javaFile.settleUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settleUp</servlet-name>
    <url-pattern>/settleUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payToSettle</servlet-name>
    <servlet-class>javaFile.payToSettle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payToSettle</servlet-name>
    <url-pattern>/payToSettle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>javaFile.signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBill</servlet-name>
    <servlet-class>javaFile.addBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBill</servlet-name>
    <url-pattern>/addBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutBillToDB</display-name>
    <servlet-name>PutBillToDB</servlet-name>
    <servlet-class>javaFile.PutBillToDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutBillToDB</servlet-name>
    <url-pattern>/PutBillToDB</url-pattern>
  </servlet-mapping>
</web-app>